@page
@model AlterDsRerun.Pages.EditModel
@{
}
<br />
<h2>Edit Log Item</h2>

@if (Model.errorMessage.Length > 0)
{
        <div class="alert alert-warning alert-dismissable fade show" role="alert">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}

<form method="GET">
    <label><strong>Current Information</strong></label>
    <br />
    <br />
    <input type="hidden" name="id" value="@Model.idealModel.id">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            <strong>ID</strong>
        </label>
        <div class="col-sm-6">
            @Model.idealModel.id
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            <strong>Item</strong>
        </label>
        <div class="col-sm-6">
            @Model.idealModel.Item
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            <strong>Processed Date</strong>
        </label>
        <div class="col-sm-6">
            @Model.idealModel.ProcessedDate.ToString()
        </div>
    </div>
    <hr />
</form>

<form method="POST">
    <input type="hidden" name="id" value="@Model.idealModel.id">
   @* <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            ID
        </label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="id" value="@Model.idealModel.id" />
        </div>
    </div>*@
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            <strong>Item</strong>
        </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="item" value="@Model.idealModel.Item" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">
            <strong>Processed Date</strong>
        </label>
        <div class="col-sm-6">
            <input type="datetime" class="form-control" name="ProcessedDate" value="@Model.idealModel.ProcessedDate" />
        </div>
    </div>
    @if (Model.successMessage.Length > 0)
    {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class="alert alert-success alertalert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
    }
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
           <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>