@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<h2>Ideal Rerun Log Items</h2>
<br />
<a class="btn btn-primary btn-sm bottomAdjuster" href="/Create">Create New Item</a>
<br />

<section>
    <form method="get">
        <button type="submit" class="btn btn-secondary btn-sm bottomAdjuster">Retrieve All Items</button>
    </form>
    </section>
<section style="margin-left: 1%;">
    <form method="get">
    <div>
        <input type="text" placeholder="Id, Item, PD" name="search" maxlength="50" />
        <button type="submit" class="btn btn-secondary btn-sm bottomAdjuster">Search</button>
        <br />
    </div>
</form>
</section>
<section panel panel-default>
        <form method="post">
            <button type="submit" value="Submit" class="btn btn-secondary btn-sm bottomAdjuster">Remove Selection</button>
        <div style="tableContainer panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Selection</th>
                        <th>Item</th>
                        <th>Processed Date</th>
                    </tr>
                </thead>

                <tbody>


                    @for (int i = 0; i < Model._idealDSRerunModels.Count; i++)
                    {
                        <tr>
                            <td>@Model._idealDSRerunModels[i].id</td>
                            <input type="hidden" asp-for="_idealDSRerunModels[i].id" value="@Model._idealDSRerunModels[i].id">
                            @*<td><input id="@item.id" type="checkbox" name="Item" value="@item.IsChecked" /></td>*@
                            @*<td><input value="@item.id" type="checkbox" checked="0 ? @item.IsChecked = true : @item.IsChecked = false" /></td>*@
                            <td><input type="checkbox" asp-for="_idealDSRerunModels[i].IsChecked" /></td>
                            <td>@Model._idealDSRerunModels[i].Item</td>
                            <td>@Model._idealDSRerunModels[i].ProcessedDate</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/Edit?id=@Model._idealDSRerunModels[i].id">Edit</a>
                                <a class="btn btn-danger btn-sm" href="/Delete?id=@Model._idealDSRerunModels[i].id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
           
            @*<input type="submit" value="Submit"  />*@
        </form>
</section>

